.sliderContainer {
  margin: 20px 20px;
  position: relative;
}

.slide {
  text-align: center;
  padding: 0 10px;
  box-sizing: border-box;
  outline: none;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.slide img {
  width: 100%;
  height: auto;
  max-height: 350px;
  margin-bottom: 10px;
}

.slide h5 {
  font-size: 1rem;
  color: black;
}

.nextArrow,
.prevArrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
  cursor: pointer;
  font-size: 3rem;
  color: #202020;
  background: rgba(38, 37, 37, 0.5);
  border-radius: 50%;
  padding: 10px;
}

.nextArrow:hover,
.prevArrow:hover {
  background: rgba(5, 5, 5, 0.7);
}

.nextArrow {
  right: 10px;
}

.prevArrow {
  left: 10px;
}
